@using ConsumingApiPortalDaTransparencia.Models;
@model IEnumerable<ConsumingApiPortalDaTransparencia.Models.Deputados>

@{
    ViewBag.Title = "Resumo dos deputados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DepResume</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>
@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>

<div class="row">
    <div class="container">
        <nav>
            <br>
            <ul class="pagination">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li><a href="#">A</a></li>
                <li class="active"><a href="#">B <span class="sr-only">(current)</span></a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">D</a></li>
                <li><a href="#">E</a></li>
                <li><a href="#">F</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">H</a></li>
                <li><a href="#">I</a></li>
                <li class="disabled"><span class="hint--bottom hint--always" data-hint="Disabled button when no record to show">J</span></li>
                <li class="disabled"><span>K</span></li>
                <li><a href="#">L</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">N</a></li>
                <li><a href="#">O</a></li>
                <li><a href="#">P</a></li>
                <li><a href="#">Q</a></li>
                <li><a href="#">R</a></li>
                <li><a href="#">S</a></li>
                <li><a href="#">T</a></li>
                <li><a href="#">U</a></li>
                <li><a href="#">V</a></li>
                <li class="disabled"><a href="#">W</a></li>
                <li class="disabled"><a href="#">X</a></li>
                <li class="disabled"><a href="#">Y</a></li>
                <li><a href="#">Z</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
    </div>
</div>
